.section-building-features {
  .container {
    .short-desc {
      background-color: #647179;
      padding: 25px 15px;
      margin-bottom: 30px;
      .paragraph {
        width: 100%;
        margin: 0 auto;
        p {
          color: white;
          text-align: center;
          margin: 0;
          span {
            margin-bottom: 20px;
          }
        }
      }
    }
    .technology-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      .technology {
        width: 80%;
        margin-bottom: 60px;
        img {
          margin: 0 auto;
          width: 60%;

          display: block;
          margin-bottom: 25px;
        }

        p {
          text-align: center;
          color: $text-grey;
          span {
            font-size: 18px;
            font-weight: 900;
          }
          &.paragraph {
            margin-top: 30px;
          }
        }
      }
    }
  }
}