.section-intagration {
  .products-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    .product {
      width: 90%;
      position: relative;
      background-size: 100%;
      height: 160px;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      .bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 55px;
        padding: 7px;
        z-index: 2;
        background: rgba(89, 101, 108, 0.75);
        p {
          position: relative;
          z-index: 3;
          margin: 0 auto;
          font-size: 18px;
          top:25%;
        }
      }
      a{
        display: block;
        height: 100%;
        text-align: center;
      }
    }
    .product10 {
      background-image: url("../images/i1.jpg");
    }
    .product11 {
      background-image: url("../images/i2.jpg");
    }
    .product12 {
      background-image: url("../images/i3.jpg");
    }
    .product13 {
      background-image: url("../images/i4.jpg");
    }
    .product14 {
      background-image: url("../images/i5.jpg");
    }
    .product15 {
      background-image: url("../images/i6.jpg");
    }
  }
}