@font-face {
  font-family: "SFUID-light";
  src: url("../fonts/SFUIDisplay-Light.ttf");
}
//@font-face {
//  font-family: "SFUID-medium";
//  src: url("../fonts/SFUIDisplay-Meduim.ttf");
//}
@font-face {
  font-family: "SFUID-Regular";
  src: url("../fonts/SFUIDisplay-Regular.ttf");
}
@font-face {
  font-family: "SFUID-ultralight";
  src: url("../fonts/SFUIDisplay-Ultrulight.ttf");
}